:root{
--header-color:#2196F3;
--mainul-color:#212121;
--mainulfon-color:#F5F4FA;
--mainli-color:#757575;
--footer-color:#FFFFFF;
--logo-color:#000;
}

body{
    font-family: "Roboto", sans-serif; 
}






.header-item {
    color: var(--logo-color);
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
text-decoration: none;
}

.hero-title{
   
color: var(--mainulfon-color);
text-align: center;
font-size: 44px;
font-style: normal;
font-weight: 900;
line-height: 1.36;
letter-spacing: 2.64px;
text-transform: uppercase;
}

.team-caption{
    color: var(--mainli-color);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.42px;
}

.hero-zag:hover{
    color: var(--mainli-color);
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 1.71;
letter-spacing: 0.42px;
text-transform: uppercase;
}

.footer-items:hover{
    color: var(--footer-color);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.42px;

}

.main-item:hover{
    color: var(--mainul-color);
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.62;
letter-spacing: 0.48px;
}


.header-detales{
color: var(--mainul-color);
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;


}



.header-contact a {
    color: var(--mainli-color);
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;
text-decoration: none;

}

.header-contact a:hover{
    color: var(--header-color);
}

.main-button{
    color: var(--footer-color);
    background-color: var(--header-color);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 30px;
letter-spacing: 0.96px;
border-radius: 5px;
padding: 10px 30px;


}



a{
    color: var(--mainul-color);
    text-decoration: none;
}
a:hover{
    color: var(--header-color);
}






.footer-logo{
    color: #000;
font-family: Raleway;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.78px;
}






.header-detales{
    color: var(--mainul-color);

font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
}

.title{
    color: var(--mainul-color);
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;

}


.header-items:hover{
     color: var(--header-color); 
    }


    .hero-text{
        color: var(--mainli-color);

font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.42px;
    }

    .work-title{
        color:var(--mainul-color);
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;
    }

    .team-title{
        color:var(--mainul-color);
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;
 }

 .main-person{
    color: var(--mainul-color);
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.48px;

 }


.adventages-list{
    color: var(--header-color);
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;

}

.main-item{
    color:var(--mainul-color);
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 26px;
letter-spacing: 0.48px;

}

.main-caption{
    color: var(--mainul-color);
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 36px;
letter-spacing: 1.08px;

}

.main-text{
    color: var(--mainli-color);

font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.48px;

}

.footer-link{
    color: var(--footer-color);

font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.42px;

}

.logo {
color: var(--header-color);
font-family: "Raleway" sans-serif;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: 1.19;
letter-spacing: 0.78px;
text-decoration: none;

}


.logo-part{
    color: var(--logo-color);
font-family: Raleway;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.78px;

}